<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css">
    {% block css %}{% endblock %}
</head>
<body>
    <div id="header">
        <div class="content">
            <a href="" class="logo"></a>
            <ul class="account-menu">
                <li>
                    <a href="">entrar</a>
                </li>
                <li>
                    <a href="">criar uma conta</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main">
        {% block content %} {% endblock %}
    </div>
    <div id="footer">
        Desafio proposto como parte do processo de seleção Globo.com
    </div>
</body>
</html>