<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}dShortener - encurtador de URLs{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css">
    {% block css %}{% endblock %}
</head>
<body>
    <div id="header">
        <div class="content">
            <a href="{% url home %}" class="logo"></a>
            <ul class="account-menu">
                {% if not user.is_authenticated %}
                <li>
                    <a href="{% url auth_login %}">entrar</a>
                </li>
                <li>
                    <a href="{% url registration_register %}">criar uma conta</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url home %}">encurtar</a>
                </li>
                <li>
                    <a href="{% url my_links %}">meus links</a>
                </li>
                <li>
                    <a href="{% url auth_password_change %}">trocar senha</a>
                </li>
                <li>
                    <a href="{% url auth_logout %}">sair</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="main">
        {% block content %} {% endblock %}
    </div>
    <div id="footer">
        Um encurtador de URLs feito em Django. Eu, <a href="http://douglasmiranda.com/">Douglas Miranda</a>, tive de fazê-lo e achei que seria legal compartilhar. Use-o como bem entender. =]
    </div>
    {% block js %}{% endblock %}
</body>
</html>