#home-container{
    margin: 100px auto;
    width: 600px;
}

#logo{
    text-align: center;
    width: 100%;
}

#logo p{
    color: #333;
    font-style:italic;
}

#form-shorten-url{
    height:50px;
    margin-top:20px;
}

#form-shorten-url label{
    display: inline;
}

#form-shorten-url input{
    background: #F0F0F0;
    border: 1px solid #D7D7D7;
    border-radius: 8px;
    float: left;
    padding: 15px;
}

#id_url{
    margin-right:4px;
    width: 469px;
    height:18px;
}

#shorten-it{
    width: 95px;
    height:50px;
}

#shorten-it:hover{
    background:#323232;
    border-color:#5f5f5f;
    color: #fff;
    cursor: pointer;
}

#shortened-urls{
    background: #F9f9f9;
    border: 1px solid;
    border-radius: 8px;
    margin-top:15px;
    padding: 15px 15px 5px 15px;
    width:568px;
    display: none;
}

#shortened-urls li{
    margin-bottom:10px;
}

#shortened-urls.show{
    display: block;
}

#shortened-urls.ok{
    border-color:#d9d9d9;
}

#shortened-urls.erro{
    border-color:#FF0E00;
}

#shortened-urls a{
    color:#999999;
    text-decoration:none;
}

.select-text{
    color: #333333;
    font-weight:bold;
}

.select-text:hover{
    color: #777;
    cursor: pointer;
}

#shortened-urls .shortened-url{
    color: #777;
    font-style: italic;
}

#shortened-urls .shortened-url:hover{
    color: #444;
    text-decoration:underline;
}

#shortened-urls input{
    border: 1px;
    border-radius: 5px;
    font-size: 13px;
    height: 16px;
    padding: 2px;
    width: 169px;
}