{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}encurtador/css/home.css" type="text/css">
{% endblock %}

{% block content %}
    <div id="home-container">
        <div id="logo">
            <h1>
                <a href="{% url home %}">
                    <img src="{{ STATIC_URL }}encurtador/img/logo-home.gif" alt="dShortener - encurtador de URLs">
                </a>
                <p>dShortener - A forma mais inteligente e encurtar URLs</p>
            </h1>
        </div>
        <div id="form-shorten-url">
            <form action="" method="post">
                {% csrf_token %}
                <label>{{ form_encurtar_url.url }}</label>
                <input type="submit" id="shorten-it" value="Encurtar">
            </form>
        </div>
        <ul id="shortened-urls" class="{{ resultado.status }} {% if resultado.status %}show{% endif %}">
            {% ifequal resultado.status 'ok' %}
            <li class="short-url">
                <span class="select-text" data-shortened-url="{{ resultado.url_curta }}">selecionar</span> - <a href="{{ resultado.url_curta }}" class="shortened-url">{{ resultado.url_curta }}</a> &raquo; {{ resultado.url|urlizetrunc:40 }}
            </li>
            {% else %}
            <li class="error">{{ resultado.mensagem }}</li>
            {% endifequal %}
        </ul>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    select_text = function(){
        $(".select-text").on("click", function(){
            li = $(this).parent();
            if(!li.find('input').length){
                link = li.find('.shortened-url');
                link.hide();
                link.after('<input type="text" value="'+ link.text() +'">');
                li.find('input').focus();
            }
        });
    }

    shorten_url = function(url){
        truncate = function(text){
            if(text.length > 40){
                text = text.substr(0, 40) + '...'
            }
            return text
        }
        $.ajax({
            type: "POST",
            url: "{% url home %}",
            cache: false,
            data: $('#form-shorten-url form').serialize(),
            dataType:'json',
            success: function(data){
                if (data.status == 'ok') {
                    container = $('#shortened-urls');
                    container.show().addClass('ok');
                    html = '<li class="short-url">';
                    html += '<span class="select-text" data-shortened-url="';
                    html += data.url_curta;
                    html += '">selecionar</span>';
                    html += ' - <a href="';
                    html += data.url_curta;
                    html += '" class="shortened-url">';
                    html += data.url_curta;
                    html += '</a> &raquo;';
                    html += '<a href="';
                    html += data.url;
                    html += '">';
                    html += truncate(data.url);
                    html += '</a>';
                    html += '</li>';
                    container.prepend(html);
                    $('#id_url').val('');
                    select_text();
                }else{
                    alert('Entre com uma URL válida para ser encurtada!')
                }
            }
        });
    }
    $(document).ready(function(){
        $("#shorten-it").click(function(){
            val = $('#id_url').val();
            if (val) {
                shorten_url(val);
            }else{
                alert('Entre com uma URL válida para ser encurtada!')
            }
            return false;
        });
        select_text();
    });
    </script>
{% endblock %}