{% extends "base.html" %}

{% block content %}
    <h1>Hello World!</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label>
            {{ form_encurtar_url.url.errors }}
            {{ form_encurtar_url.url }}
        </label>
        <input type="submit" value="Encurtar">
        {% ifequal resultado.status 'ok' %}
        <p class="short-url"><a href="{{ resultado.url_curta }}">{{ resultado.url_curta }}</a> > {{ resultado.url }}</p>
        {% else %}
        <p class="error">{{ resultado.mensagem }}</p>
        {% endifequal %}
    </form>
{% endblock %}