{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}encurtador/css/home.css" type="text/css">
{% endblock %}

{% block content %}
    <div id="home-container">
        <div id="logo">
            <h1>
                <a href="{% url home %}">
                    <img src="{{ STATIC_URL }}encurtador/img/logo-home.png" alt="dShortener - encurtador de URLs">
                </a>
                <p>dShortener - Um encurtador de URLs feito em Django</p>
                <p class="clipboard-info"></p>
            </h1>
        </div>
        <div id="form-shorten-url">
            <form action="" method="post">
                {% csrf_token %}
                <label>{{ form_encurtar_url.url }}</label>
                <input type="submit" id="shorten-it" value="Encurtar">
            </form>
        </div>
        <ul id="shortened-urls" class="{{ resultado.status }} {% if resultado.status %}show{% endif %}">
            {% ifequal resultado.status 'ok' %}
            <li class="short-url">
                <span class="select-text" data-shortened-url="{{ resultado.url_curta }}">selecionar</span> - <input type="text" data-clipboard-text="{{ resultado.url_curta }}" value="{{ resultado.url_curta }}" title="Clipe para copiar para área de transferência"> &raquo; {{ resultado.url|urlizetrunc:40 }}
            </li>
            {% else %}
            <li class="error">{{ resultado.mensagem }}</li>
            {% endifequal %}
        </ul>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}encurtador/zeroclipboard/ZeroClipboard.js" type="text/javascript"></script>
    <script type="text/javascript">
    select_text = function(){
        input_text = '#shortened-urls li input';
        ZeroClipboard.setMoviePath("{{ STATIC_URL }}encurtador/zeroclipboard/ZeroClipboard.swf");
        var clip = new ZeroClipboard.Client(input_text);

        clip.on('noflash', function (client) {
            $(input_text).prop('title', '');
        });

        clip.on('complete', function (client, args) {
            $(".clipboard-info").show().html("Copiado para área de transferência: " + args.text);
        });

        $(input_text).bind("mouseover", function(){
            clip.setText($(this).attr('data-clipboard-text'));
        });
    }

    shorten_url = function(url){
        truncate = function(text){
            if(text.length > 40){
                text = text.substr(0, 40) + '...'
            }
            return text
        }
        $.ajax({
            type: "POST",
            url: "{% url home %}",
            cache: false,
            data: $('#form-shorten-url form').serialize(),
            dataType:'json',
            success: function(data){
                if (data.status == 'ok') {
                    container = $('#shortened-urls');
                    container.show().addClass('ok');
                    html = '<li class="short-url">';
                    html += '<span class="select-text" data-shortened-url="';
                    html += data.url_curta;
                    html += '">selecionar</span>';
                    html += ' - <input type="text" data-clipboard-text="';
                    html += data.url_curta;
                    html += '" href="';
                    html += data.url_curta;
                    html += '" value="';
                    html += data.url_curta;
                    html += '" title="Clipe para copiar para área de transferência">';
                    html += ' &raquo;';
                    html += '<a href="';
                    html += data.url;
                    html += '">';
                    html += truncate(data.url);
                    html += '</a>';
                    html += '</li>';
                    container.prepend(html);
                    $('#id_url').val('');
                    select_text();
                }else{
                    alert('Entre com uma URL válida para ser encurtada!')
                }
            }
        });
    }
    $(document).ready(function(){
        $("#shorten-it").click(function(){
            val = $('#id_url').val();
            if (val) {
                shorten_url(val);
            }else{
                alert('Entre com uma URL válida para ser encurtada!')
            }
            return false;
        });
        select_text();
    });
    </script>

{% endblock %}