{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}encurtador/css/my-links.css" type="text/css">
{% endblock %}

{% block content %}
    <div id="my-links-container">
        <h1>Meus Links</h1>
        {% if meus_links %}
            {% include 'global-pagination.html' %}
            <ul id="my-links">
            {% for l in meus_links %}
                <li>
                    [{{ l.criacao }}] - <a href="{{ l.url_curta }}" target="_blank" class="shortened-url">{{ l.url_curta }}</a> &raquo; {{ l.url|urlizetrunc:50 }}
                </li>
            {% endfor %}
            </ul>
            {% include 'global-pagination.html' %}
        {% else %}
            <p class="warning">Você ainda não possui links para serem exibidos!</p>
        {% endif %}
    </div>
{% endblock %}